/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-sections, 10px);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: var(--page-vertical-padding, 10px) var(--page-horizontal-padding, 10px);
  /*padding: var(--page-vertical-padding, 10px) var(--page-horizontal-padding, 10px) 0px var(--page-horizontal-padding, 10px);*/
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size, 18px);
  font-weight: normal;
  line-height: var(--main-line-height, 23.4px);
  background-color: var(--bg-color, #000028);
  color: var(--main-text-color, #F1B2CE);
  position: relative;
}

/*.page > .footer {
  margin-bottom: calc(0px - var(--gap-between-sections));
}*/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--corner-color, #FF0070);
  outline-offset: 1px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--pale-color);
  outline-offset: 1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--corner-color, #FF0070);
  text-underline-offset: 3px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--corner-color, #FF0070);
  border-top: 1px solid var(--corner-color, #FF0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--corner-color, #FF0070);
  border-bottom: 1px solid var(--corner-color, #FF0070);
}

.decorative-rec-indicator {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 5px;
  height: 5px;
  background-color: var(--accent-bg-color, #FF0070);
  border-radius: 50%;
  box-shadow: 0 0 2px 4px var(--accent-bg-color, #FF0070);
}

.decorative-rec-indicator::before {
  content: "REC";
  position: absolute;
  right: 20px;
  top: -10px;
  color: var(--theme-font-color, #FF0070);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: var(--theme-button-line-height, 18px);
  text-transform: lowercase;
  color: var(--theme-font-color, #FF0070);
  background-color: transparent;
  border: none;
  padding: 0 var(--theme-button-side-padding, 13px);
}

.main-title {
  grid-row: 2;
}

.attention-box {
  grid-row: 3;
  align-self: center;
  margin-block: var(--margin-attention-box, 55px);
}

.accent-letters {
  color: var(--accent-main-header-color, #DB00FF);
  text-shadow: var(--accent-offset-x) var(--accent-offset-y) 0 var(--accent-main-header-shadow-color, #FF0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: var(--accent-main-header-line-height, 83%);
}

.link-word {
  text-decoration: none;
  --accent-offset-x: 2px;
  --accent-offset-y: 2px;
  text-shadow: var(--accent-offset-x) var(--accent-offset-y) 0 var(--accent-main-header-shadow-color, #FF0070);
  position: relative;
}

.link-word:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--main-text-color);
 /* text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--main-text-color);
  text-underline-offset: 3px;
  text-shadow: none;*/
}

.link-word:focus-visible {
  outline: 1px solid var(--main-text-color);
  outline-offset: 1px;
}

.section-title {
  font-size: var(--main-font-size, 18px);
  font-weight: bold;
  background-color: var(--accent-bg-color, #FF0070);
  color: var(--accent-text-color, #000028);
}

.accent-title {
  color: var(--section-title-color, #FF0070);
  background-color: transparent;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-sections-gap, 50px);
}

.content > .content-section:first-child {
  margin-block-start: calc(var(--content-sections-gap) - var(--page-vertical-padding));
}

.content > .content-section:last-child {
  margin-block-end: calc(var(--content-sections-gap) - var(--page-vertical-padding));
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-between-articles, 20px);
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-articles, 20px);
}

/*:is(h3, h4) + p
.section-block .section-title {
  margin-bottom: 10px;
}*/

.section-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.paragraph-subtitle {
  font-weight: normal;
  margin-block-start: 10px;
}

.gallery {
  --gap-between-articles: 10px;
}

.gallery-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-between-sections, 10px);
}

.gallery-item {
  display: block;
  height: 100%;
}

.gallery-image {
  display: block;
  max-inline-size: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  justify-content: center;
}

.footer .accent-letters {
  --accent-offset-x: 2px;
  --accent-offset-y: 2px;
  margin-block: calc(var(--margin-footer-accent-letters, 285px) - var(--gap-between-sections, 10px));
}

@media (min-width: 600px) {
  .page {
    --page-vertical-padding: 20px;
    --page-horizontal-padding: 20px;
    --gap-between-sections: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .main-title {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-inline-start: calc(0px - var(--page-horizontal-padding));
  }

  .accent-letters {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .attention-box {
    --margin-attention-box: 162px;

    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: center;
  }

  .content {
    --content-sections-gap: 80px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
  }

  .section-title:not(.attention-box) {
    grid-column: 1;
  }

  .section-content {
    grid-column: 2 / span 2;
  }

  .section-content-special-layout {
    grid-column: 1 / span 3;
  }

  .gallery {
    --gap-between-articles: 20px;
  }

  .gallery .section-title {
    grid-column: 1 / span 3;
  }

  .gallery-list {
    grid-column: 1 / span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
  }

  .item-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }

  .item-2 {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .item-3 {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  .item-5 {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
  }

  .footer .accent-letters {
    --margin-footer-accent-letters: 463px;
  }
}

@media (min-width: 1000px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .attention-box {
    --margin-attention-box: 114px;
  }

  .content-section {
    column-gap: 20px;
  }

  .section-content-special-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer .accent-letters {
    --margin-footer-accent-letters: 319px;
  }
}